body{
    background-image: url("flyover69.png")
/*     url("https://www.webbaviation.co.uk/aerial/_data/i/galleries/London/Barnet/Brent_Cross_Flyover_eb13328-me.jpg");  */
}
#ButtonsBox{
    float: left;
    height: 150px;
    width: 100%;
}
#banner{
    border: 5px solid black;
    float: left;
    height: 200px;
    width: calc(100% - 10px);
    background-image: radial-gradient(yellow, green);
    border-radius: 10px;
    overflow: hidden;
}
.MenuButton{
    border: 5px solid black;
    height: 100px;
    width: 25%;
    font-size: 50px;
    float: left;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}
#SubmitButton{
    border: 5px solid black;
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.ProductBox{
    border: 5px solid black;
    height: 500px;
    width: calc(50% - 30px);
    float: left;
    margin: 10px 10px 10px 10px;
    background-color: #d4ffb5;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}
#ContactBox{
    border: 5px solid black;
    width: calc(100% - 30px);
    margin: 10px 10px 10px 10px;
    background-color: #d4ffb5;
    border-radius: 10px;
    height: 100px;
    float: left;
}
#InnerProduct{
    border: 5px solid green;
    height: 200px;
    width: calc(100% - 30px);
    margin: 10px 10px 10px 10px;
    float: left;
}
#SearchBox{
    border: 5px solid #7a7979;
    width: 60%;
    margin-left: 20%;
    height: 40px;
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}
#SalesBox{
    border: 5px solid black;
    width: calc(100% - 30px);
    height: 250px;
    float: left;
    margin: 10px 10px 10px 10px;
    background-color: #d4ffb5;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}
#InnerSales{
    border: 5px solid green;
    width: calc(15%);
    height: calc(100% - 30px);
    float: left;
    margin: 10px 10px 10px 10px; 
}
#SaleInfo{
    height: calc(100% - 20px);
    float: left;
    width: calc(85% - 50px);
    margin: 10px 10px 10px 10px;
    font-size: 30px;
}
.ContactInput{
    border: 5px solid #7a7979;
    width: calc(100%);
    height: 40px;
    font-size: 30px;
    text-align: left;
}
.InputTitle{
    line-height: 40px;
    text-align: right;
    margin-right: 5px;
}
#ContactBox{
    width: calc(60%);
    float: left;
}
    #QueryInput{
    border: 5px solid #7a7979;
    width: calc(100%);
    height: 300px;
    text-align: left;
}
.ProductInfo{
    margin-left: 5px;
}
#logo{
    height: 200px;
    width: 200px;
    object-position: center;
    float: left;
}
#mainTitle{
    line-height: 200px;
    font-family: 'Anton', sans-serif;
    font-size: 75px;
}
.salesImage{
    width: 100%;
    height: 100%;
}
.accountButton{
    width: 170px;
    float: left;
    height: 60px;
    border: 5px solid black;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}
#login{
    margin-bottom: 5px;
    margin-top: 25px;
}
#signup{
    margin-top: 5px;
    margin-bottom: 25px;
}
#ContactForm{
    width: calc(100% - 20px); 
    margin-left: 10px; 
    float:left; 
    font-family: 'Ubuntu', sans-serif; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}  

.form-background {
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    left:0px;
    z-index:1000;
}
.form-popup {
    display: none;
    background-color: white;
    position: fixed;
    top: 30%;
    right: calc(50% - 150px);
    border: 5px solid black;
    z-index: 9;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    font-family: 'Ubuntu', sans-serif;
}
  
  /* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px 10px 20px 10px;
    background-color: white;
}
  
  /* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 0px 0;
    border: none;
    background: #f1f1f1;
}
  
  /* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
  /* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 5px;
}
  
  /* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
    border-radius: 5px;
}
  
  /* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}