<head>
  {% block head %}
    <link rel='stylesheet' href="{{ url_for('static', filename='stylesheet.css') }}"/>
    <title>{{title}} - Store</title>
  {% endblock %}
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
</style>
<script>
function openLoginForm() {
  document.getElementById("LoginScreen").style.display = "block";
  document.getElementById("login-blurback").style.display = "block";
}

function closeLoginForm() {
  document.getElementById("LoginScreen").style.display = "none";
  document.getElementById("login-blurback").style.display = "none";
}

function openSignupForm() {
  document.getElementById("SignupScreen").style.display = "block";
  document.getElementById("signup-blurback").style.display = "block";
}

function closeSignupForm() {
  document.getElementById("SignupScreen").style.display = "none";
  document.getElementById("signup-blurback").style.display = "none";
}

function validateLogin() {
  var validRegex = /[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/i;
      let x = document.forms["loginform"]["email"].value;
      if (x.match(validRegex)){} 
      else{
        alert("Invalid email address!");
        return false;
      }
      const box = document.getElementById("loginForm")
      currentaddress = window.location.href
      const info = document.createElement("input")
      info.setAttribute("type","hidden")
      info.setAttribute("value",currentaddress)
      info.setAttribute("name","address")
      box.appendChild(info)
      return true;
}

</script>
<body>
  
  <div id="banner" style="text-align: center;">
    <img onclick="window.location.href = '/gaming'" id="logo" src="{{ url_for('static', filename='logo.png') }}">
    <div style="float: left; width: calc(100% - 390px); height: 100%;">
      <span onclick="window.location.href = '/logic'" id="mainTitle">Zack's Snacks</span>
    </div>
    
    <div style="width: 190px; float: left; height: 100%;">
      <button id="login" class="accountButton" onclick="openLoginForm()">Login</button>
      <button id="signup" class="accountButton" onclick="openSignupForm()">Sign up</button>
    </div>
    
  </div>
  <div id='ButtonsBox'>
    {% block homeButton %}
      <button class = "MenuButton" style = "margin: 25px calc(6.25%) 25px calc(6.25%)"onclick="window.location.href = '/home'">Home</button>
    {% endblock %}
    {% block salesButton %}
      <button class = "MenuButton" style = "margin: 25px calc(6.25%) 25px 0px" onclick="window.location.href = '/sales'">Sales</button>
    {% endblock %}
    {% block contactButton %}
      <button class = "MenuButton" style = "margin: 25px calc(6.25%) 25px 0px" onclick="window.location.href = '/contact'">Contact</button>
    {% endblock %}
  </div>
    <div class="form-background" id="login-blurback">
      <div class="form-popup" id="LoginScreen">
        <form name="loginform" onsubmit="return validateLogin()" method="post" action="/login" class="form-container" id="loginForm">
          <h1>Login</h1>
      
          <label for="email"><b>Email</b></label>
          <input style="margin-bottom: 5px; margin-top: 5px;" type="text" placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input style="margin-bottom: 5px; margin-top: 5px;" type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit" class="btn">Login</button>
          <button type="button" class="btn cancel" onclick="closeLoginForm()">Close</button>
        </form>
      </div>
    </div>
  </div>
  <div class="form-background" id="signup-blurback">
    <div class="form-popup" id="SignupScreen">
      <form name="signupform" onsubmit="return validateLogin()" method="post" action="/signup" class="form-container" id="signupForm">
        <h1>Sign Up</h1>
    
        <label for="email"><b>Email</b></label>
        <input style="margin-bottom: 5px; margin-top: 5px;" type="text" placeholder="Enter Email" name="email" required>
    
        <label for="username"><b>Email</b></label>
        <input style="margin-bottom: 5px; margin-top: 5px;" type="text" placeholder="Enter Username" name="username" required>
        
        <label for="psw"><b>Password</b></label>
        <input style="margin-bottom: 5px; margin-top: 5px;" type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit" class="btn">Create Account</button>
        <button type="button" class="btn cancel" onclick="closeSignupForm()">Close</button>
      </form>
    </div>
  </div>
  {% block content %}
  {% endblock %}
</body>